# Environment variables
.env
.env.local
function-kits

# Dependencies
/node_modules
/functions/node_modules
/.pnp
.pnp.js

# Functions
/functions/lib/
/functions/data/
/functions/.firebase/

# Build outputs
/.next/
/out/
/build/
*.tsbuildinfo
/webroot/
/.devvit/
/dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*

# Configuration
/.idx/
/.vscode/
/.idea/
.DS_Store
knip.json
next-env.d.ts
service-account.json
server-configs.json

# Firebase
/.firebase/
firestore.rules

# Misc
src/shared/data

# Antigravity agent configurations
.agents/
skills-lock.json
AGENTS.md
CLAUDE.md
studio.json